.menu {
	@apply w-1/6 text-left p-4 pt-20 text-base border-r border-gray-300 bg-gray-100;
	min-height: 100vh;
}
.menu ol {
	@apply list-decimal pl-4;
}
.menu li {
	@apply my-1;
}
.menu > ol > li::after {
	content: "";
	border-bottom: 3px solid gray;

	@apply w-4 block m-auto mt-4 mb-4 border-gray-300;
}
.menu ol ol {
	list-style: lower-alpha;
}
.menu ol li::marker {
	@apply text-sm opacity-75 rounded rounded-full;
	background-color: #ddd;
}
.menu a {
	text-decoration: none !important;
	color: rgb(38, 48, 83) !important;
}
